{% extends 'base.html' %}
{% block content %}


<div align="center">

    	
    <br>
	<h3>
        Click the link below to get the space fortress game.
        Just double click the downloaded file to play!
    </h3>
	<br><br>
	   <a id="download_link" href="{{ MEDIA_URL }}/downloads/pvm_{{user.username}}.jar"><span  class="actbutton green" style="padding: 10px"> Download SpaceFortress! </span></a>
    <br><br>
	<h3>
        When you're done come back to this website to finish the study.
    </h3>
	
	<br>





	
	<a id="proceed_link" href="/study/fsess" style="color:white;">
         Force Finish 
    </a>

</div>


	<script>
function autoComplete ( )
{
  window.location = "/study/cheat_fsess?study_id=1&user_id={{user.pk}}";
}
  setTimeout ( "autoComplete()", 120000 ); // 2 minsec


	</script>
{% endblock %}

