<?xml version="1.0"?>

<study>
	<name name_stub="rmq">rural_medicine_questionairre</name>
	
	<description>Rural Medicine Questionairre.</description>
	<informed_consent>None.</informed_consent>
	<instructions>None.
	</instructions>
	<eligibility>None.</eligibility>
	<reward>None.</reward>

	<start_date>2002-09-24</start_date>
	<end_date>2012-12-12</end_date>

	<!-- All users who should be able to administer the study. Investigators
	CANNOT be participants! -->
	<investigators>
		<user name="kante" password="kantetemp1234"/>
		<user name="natalie" password="natalietemp1234"/>
		<user name="yasmin" password="yasmintemp1234"/>
	</investigators>

	<!-- 
		List the directories of all stages in your study here (order is not 
		important in this section)
	-->
	<all_stages>

		<stage directory="injury_prevention"/>
		<stage directory="housing"/>
		<stage directory="environment"/>
		<stage directory="accessibility"/>
		<stage directory="connectivity"/>
		<stage directory="nutrition"/>

		<stage directory="results"/>
		
	</all_stages>


	<!-- One entry for each distinct group in the study -->
	<all_groups>
		<group name="everyone">
            <user name="atokous"/>
            <user name="Aceratherium"/>
            <user name="adfix"/>
            <user name="ahong"/>
            <user name="bisontine"/>
            <user name="bootlicker"/>
            <user name="Bromius"/>
            <user name="archangelship"/>
            <user name="aspartyl"/>
            <user name="autodynamic"/>
            <user name="actinograph"/>
            <user name="jill1"/>
            
			<!-- List the stages you want included in this group IN ORDER -->
			<stages>
				<stage directory="injury_prevention"/>
				<stage directory="housing"/>
				<stage directory="environment"/>
        		<stage directory="accessibility"/>
        		<stage directory="connectivity"/>
        		<stage directory="nutrition"/>
				<stage directory="results"/>
				
			</stages>
		</group>
	</all_groups>
	
</study>







