{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<script>
    num_questions = 3	
</script>

<script src="{% static "rural_medicine_questionairre/js/accessibility_data.js" %}"></script>
<script src="{% static "rural_medicine_questionairre/js/submit.js" %}"></script>
<script src="{% static "rural_medicine_questionairre/js/questionairre_builder.js" %}"></script>



<link rel="stylesheet" type="text/css" href="{% static "rural_medicine_questionairre/css/questionairre_style.css" %}">

	
	<h1>Accessibility of Health Care Services</h1>
	
	
	<form id="shipley_form">

		<div id="injury_background">
			<!-- /Background Information -->
			<div id="study_details">
				<h2>
					<a href="" onclick="return toggle_detail('background_info',$(this));" class="right">
						Background Information
					</a>
				</h2>

				<div id='background_info'>
					<p>
						It is estimated that 20-30% of Canadians live in a rural setting while many health care facilities exist in urban centers. This leaves rural residents an average 60 km commute to family physicians. Adequate access to health care services is vital to health maintenance and initiatives to increase rural physician recruitment in conjunction with programs to increase rural community access to health care providers are needed to assure no disparities in health care in rural settings.
					</p>
					
				</div>
			</div>
			<!-- /Background Information -->

			<!-- References -->
			<div id="study_details">
				<h2>
					<a href="" onclick="return toggle_detail('goals',$(this));" class="right">
					Goals
					</a>
				</h2>

				<div id='goals' style="display:none;">
					<ul>
					    <li>Increased patient roster promotion</li>
                        <li>Programs for physician recruitment and retention</li>
                        <li>Programs to facilitate telemedicine and timely referral to higher levels of care.</li>
                    </ul>
				</div>
			</div>
			<!-- /References -->


			<!-- Goals -->
			<div id="study_details">
				<h2>
					<a href="" onclick="return toggle_detail('references',$(this));" class="right">
					References
					</a>
				</h2>

				<div id='references' style="display:none;">
					<ul>

						<li>http://www.hc-sc.gc.ca/hl-vs/jfy-spv/rural-rurale-eng.php</li>
			                    <li>http://www.unbc.ca/assets/northern_studies/northern/issues_affecting_access_to_health_services_in_northern.pdf</li>
					</ul>
				</div>
			</div>
			<!-- /Goals -->
			<br>
			<center>
				<div style="margin:0 0 100px 0;" id="submit_box">
					<div id="goto_questions_container">
						<a style="color:blue;" href="#" onclick="go_to_survey();">
							<span class="actbutton green" style="width:200px;padding: 10px;">
								Show Survey
							</span>
						</a>
					</div>
			</center>
			
		</div> <!--/Injury background-->

		
		<div id="injury_questions">
			
				<!-- Write the questions -->
				<script>
					for (var i=0; i<accessibility_questions.length; i++)
					{
							write_question(i, accessibility_questions[i], accessibility_rationale[i]);
					}
				</script>
		
				<br><br>
				
				<center>
					<div style="margin:0 0 100px 0;" id="submit_box">
						<div id="submit_container">
							<a style="color:blue;" href="#" onclick="submit_data();">
								<span class="actbutton green" style="width:200px;padding: 10px;">
									   Submit Answers
								</span>
							</a>
						</div>
						<div style="display:none;" id="waiting_container">
							Request submitted... please wait.
						</div>
						<div style="display:none;" id="retry_container">
							Submit failed. Please click <a style="color:blue;" href="#" onclick="submit_data();">here</a> 
							to try again.
						</div>
					</div>
				</center>
		
			</div>
		</div> <!--/Injury Questions-->


		
	</form>

	<br>
	


{% endblock %}


