{% extends 'base.html' %}

{% block content %}
	<h1>Rural Medicine Questionairre Instructions</h1>
	

	<h3 style="width:70%;margin:0 auto;text-align:justify">
	  	In the following survery, you will see a word in capital letters for 
		each question. Underneath there are four other words. Select the one word
		 which means the same thing, or most nearly the same thing as the first 
		word. If you don't know, guess.
	</h3>

	
	<br>
    <center>
        <div style="margin:0 0 100px 0;" id="submit_box">
            <div id="submit_container">
                <a style="color:blue;" href="/study/fsess">
                    <span class="actbutton green" style="width:200px;padding: 10px;">
                        Continue
                        </span>
                </a>
            </div>
        </div>
    </center>

{% endblock %}

