{% extends 'base.html' %}

{% block content %}
	<h1> Welcome to the Built Environment Assessment Tool! </h1>
	

	<h3 style="width:70%;margin:0 auto;text-align:justify">
        
        This survey will provide you with insights into how the design 
        and layout of your community facilitates health as your responses 
        will lead you to projects in other rural or remote communities that 
        have participated in health promotion projects.    
        We hope you find it useful.
        
        <br>
        <br>
        Thank you for your participation!
        

        
	</h3>

	
	<br>
    <center>
        <div style="margin:0 0 100px 0;" id="submit_box">
            <div id="submit_container">
                <a style="color:blue;" href="/study/fsess">
                    <span class="actbutton green" style="width:200px;padding: 10px;">
                        Continue
                        </span>
                </a>
            </div>
        </div>
    </center>

{% endblock %}

