{% extends 'base.html' %}
{% block content %}


<center>
      <br/><br/><br/><br/><br/>
      
      <div id="message" width="100%">
            Click the button below if you need to 
            download the SpaceFortress program.
      </div>
      
      
      <br/><br>
      
       <a id="sf_button"  href="{{MEDIA_URL}}/misc/spaceFortress.exe">     
           <span class="actbutton green" style="width:200px;padding: 10px;">
               Download SpaceFortress
           </span>
       </a>
       
       
   </center>


{% endblock %}
