{% extends 'base.html' %}

{% block content %}
    <div style="margin:4em">
	<h2>Informed consent</h2>
	
	
	<p>Please read the following information before beginning the study.</p>


    <p>
    <b>Principal Investigator</b><br>
    Dr. D, Ph.D., 555-555-5555 <br>
    Technologies for Aging Gracefully Lab, University of Toronto, Department of Computer Science <br>
    </p>


    <p>
    <b>Faculty Supervisor</b><br>
    Ronald Baecker, Ph.D., Professor, 416-978-6983 <br>
    Technologies for Aging Gracefully Lab, University of Toronto, Department of Computer Science 
    </p>


    <p>
    <b>Project Purpose and Procedures</b><br>
    The purpose of this project is to evaluate things.
    <p>

    <p>
    To assist in this regard, you are asked to do things.
    <p>


    <p>
        <b>Potential Risks </b><br>
    
    There are no risks believed to be associated with these things.
    </p>


    <p>
    <b>Potential Benefits </b><br>
    Information gathered in this study will contribute to understanding things.
    </p>


    <p>
    <b>Remuneration/Compensation</b><br>
    We are very grateful for your participation. 
    </p>

    <p>
    <b>Confidentiality </b><br>
    No individuals are identified in this study and identifying personal information will be stored separately from data. Documents and electronic data will be securely kept for five years and then destroyed. Identifying details will be destroyed as soon as the study is complete.
    </p>


    <p>
    <b>
    Contact information about the study </b><br>
    If you have questions or desire further information with respect to the study, you may contact Dr. D at dr_d@dmail.com. 
    </p>


    <p>
        <b>Your participation in this study is voluntary and I understand that I may withdraw at any time.</b>
    </p>
    </div>
    <br>
    <div align=center>
    <h1>I agree to participate in the study as outlined above.</h1>
    
	<a href="/study/0/{{studynum}}"><span class="actbutton red" style="padding: 10px; margin-right:60px"> I do NOT agree </span></a>
	<a href="/study/consented"><span class="actbutton green" style="padding: 10px"> I agree </span></a>
	</div>
	<br/><br/><br/><br/>
{% endblock %}