<?xml version="1.0"?>

<study>
    <name name_stub="dem">demo_study</name>
    <description>This is an example study</description>
    <informed_consent>Brief outline of informed consent.</informed_consent>
    <instructions>Play each game.</instructions>
    <eligibility>You are eligible.</eligibility>
    <reward>The satisfaction of contributing.</reward>
    
    
    <start_date>2014-01-24</start_date>
    <end_date>2016-12-12</end_date>
    
    
    <!-- All users who should be able to administer the study. Investigators
    CANNOT be participants! -->
    <investigators>
        <user name="dr_d" password="dr_d"/>
    </investigators>
    
    <!-- 
        List the directories of all stages in your study here (order is not 
        important in this section)
    -->
    <all_stages>
        <stage directory="snake"/>
        <stage directory="tetris"/>
        <stage directory="asteroids"/>
    </all_stages>
    
    <!-- One entry for each distinct group in the study -->
    <all_groups>
        <group name="intervention_1">
            
            <user name="user_2"/>
            <user name="user_4"/>
            <user name="user_7"/>
            <user name="user_11"/>
            
            <!-- List the stages you want included in this group IN ORDER -->
            <stages>
                <stage directory="snake"/>
                <stage directory="tetris"/>
                <stage directory="asteroids"/>
            </stages>
        </group>
        
        <group name="intervention_2">
            
            <user name="user_1"/>
            <user name="user_5"/>
            <user name="user_9"/>
            <user name="user_12"/>
            
            <!-- List the stages you want included in this group IN ORDER -->
            <stages>
                <stage directory="tetris"/>
                <stage directory="snake"/>
                <stage directory="asteroids"/>
            </stages>
        </group>
        
        <group name="intervention_3">
            
            <user name="user_3"/>
            <user name="user_6"/>
            <user name="user_8"/>
            <user name="user_10"/>
            
            <!-- List the stages you want included in this group IN ORDER -->
            <stages>
                <stage directory="asteroids"/>
                <stage directory="snake"/>
                <stage directory="tetris"/>
            </stages>
        </group>
        
    </all_groups>
    
</study>







