{% extends 'base.html' %}

{% block content %}
	<script type="text/javascript">
	
		// call this when AJAX request returns
		function complete_task(response,status,xhr)
		{
			if (response == "success")
			{
				$("#waiting_container").hide();
				window.location = "/study/fsess";
			} else {
				$("#waiting_container").hide();
				$("#retry_container").show();
			}
		}

		// Send arbitrary JSON data to /???/save_data
		function submit_data()
		{
			$("#submit_container").hide();
			$("#waiting_container").show();
			
			var data = $("#shipley_form").serialize();
			
			if (data.split('=').length - 1 != 6) {
				alert("Please answer all questions");
				$("#submit_container").show();
				$("#waiting_container").hide();
				return;
			}
			
			data += "&custom_data=Whatever you want";
			$.post("/study/save_post_data", data, complete_task);
		}
		
		
	</script>
	
	<style>
		
		.question_container 
		{
		    
		}
		
		.the_question 
		{
		    width:70%;
		    margin:0 auto;
		    text-align:justify;
		}
		
		.the_answers 
		{
		    width:20%;
		    margin-left: auto;
            margin-right: auto;
		}
		
		.yes_box, .no_box 
		{
		    width:48%;
		    display:inline-block;
		    height:30px;
		    text-align:center;
		    font-size:150%;
		    margin-bottom:20px;
		}
	</style>
	
	
	<h1>Nutrition and Food Security Assessment</h1>
	
	
	<form id="shipley_form">
      
        
        <script>
            var questions = new Array(
                "Is there access to a supermarket in your community?",
                "Is there access to local farmer’s markets or mechanisms in place to facilitate distribution of food from local farms?",
                "Are incentives provided for business initiatives that address nutritional deficits in your community?",
                "Is nutritional programming an integral part of public service venues (schools, after-school programs, child care centers, community recreational facilities, city and county buildings, prisons, juvenile detention centers)?",
                "Does your community support programs which aim to increase availability of healthier foods and beverage choices in public service centers?",
                "Does your community increase support for breastfeeding and provide adequate support for mothers?"
            );
            
            
            function write_question(number, question_text) 
            {
                document.write('<div class="question_container">');
                document.write('    <div class="the_question">')
                document.write('        <h3>' + question_text + "</h3>");
                document.write('     </div>');
                document.write('     <div class="the_answers">');
                document.write('        <div class="yes_box">');
                document.write('            <input type="radio" name="q'+ number + '" value="yes">yes');
                document.write('        </div>');
                document.write('        <div class="no_box">');
                document.write('            <input type="radio" name="q'+number+'" value="no">no');
                document.write('       </div>');
                document.write('    </div>');
                document.write('</div>');
            }
            
            for (var i=0; i<questions.length; i++)
            {
                write_question(i, questions[i]);
            }
        </script>
        
    


	</form>

    <br>
    <center>
	    <div style="margin:0 0 100px 0;" id="submit_box">
    		<div id="submit_container">
    			<a style="color:blue;" href="#" onclick="submit_data();">
    		    	<span class="actbutton green" style="width:200px;padding: 10px;">
                           Submit Answers
                    </span>
                </a>
    		</div>
    		<div style="display:none;" id="waiting_container">
    			Request submitted... please wait.
    		</div>
    		<div style="display:none;" id="retry_container">
    			Submit failed. Please click <a style="color:blue;" href="#" onclick="submit_data();">here</a> 
    			to try again.
    		</div>
    	</div>
    </center>
    

{% endblock %}


