<study>
    <name name_stub="space_fortress">space_fortress_study</name>
    <description>Space Fortress</description>
    <informed_consent>Do you consent to check whether Java is installed? (Java is necessary to play Space Fortress.)</informed_consent>
    <instructions>Instructions TBD</instructions>
    <eligibility>No eligibility constraints.</eligibility>
    <reward>Play space fortress!</reward>
    <start_date>2012-01-01</start_date>
    <end_date>2021-12-31</end_date>
 
    <investigators>
        <user name="dr_d" password="dr_d"/>
    </investigators>
 
    <all_stages>
        <stage directory="java_check"/>
        <stage directory="space_fortress"/>

    </all_stages>
 
 	<all_groups>
 	
 		<group name="participants">
			<user name='participant_1' password='1'/>
			<user name='participant_2' password='2'/>
			<user name='participant_3' password='3'/>
			<user name='participant_4' password='4'/>
			<user name='participant_5' password='5'/>
			<user name='participant_6' password='6'/>
			<user name='participant_7' password='7'/>
			<user name='participant_8' password='8'/>
			<user name='participant_9' password='9'/>
			<user name='participant_10' password='10'/>
			<user name='participant_11' password='11'/>
			<user name='participant_12' password='12'/>
			<user name='participant_13' password='13'/>
			<user name='participant_14' password='14'/>
			<user name='participant_15' password='15'/>
			<user name='participant_16' password='16'/>
			<user name='participant_17' password='17'/>
			<user name='participant_18' password='18'/>
			<user name='participant_19' password='19'/>
			<user name='participant_20' password='20'/>
			<user name='participant_21' password='21'/>
			<user name='participant_22' password='22'/>
			<user name='participant_23' password='23'/>
			<user name='participant_24' password='24'/>
			<user name='participant_25' password='25'/>
			<user name='participant_26' password='26'/>
			<user name='participant_27' password='27'/>
			<user name='participant_28' password='28'/>
			<user name='participant_29' password='29'/>
			<user name='participant_30' password='30'/>
			<user name='participant_31' password='31'/>
			<user name='participant_32' password='32'/>
			<user name='participant_33' password='33'/>
			<user name='participant_34' password='34'/>
			<user name='participant_35' password='35'/>
			<user name='participant_36' password='36'/>
			<user name='participant_37' password='37'/>
			<user name='participant_38' password='38'/>
			<user name='participant_39' password='39'/>
			<user name='participant_40' password='40'/>
			<user name='participant_41' password='41'/>
			<user name='participant_42' password='42'/>
			<user name='participant_43' password='43'/>
			<user name='participant_44' password='44'/>
			<user name='participant_45' password='45'/>
			<user name='participant_46' password='46'/>
			<user name='participant_47' password='47'/>
			<user name='participant_48' password='48'/>
			<user name='participant_49' password='49'/>
			<user name='participant_50' password='50'/>
			<user name='participant_51' password='51'/>
			<user name='participant_52' password='52'/>
			<user name='participant_53' password='53'/>
			<user name='participant_54' password='54'/>
			<user name='participant_55' password='55'/>
			<user name='participant_56' password='56'/>
			<user name='participant_57' password='57'/>
			<user name='participant_58' password='58'/>
			<user name='participant_59' password='59'/>
			<user name='participant_60' password='60'/>
			<user name='participant_61' password='61'/>
			<user name='participant_62' password='62'/>
			<user name='participant_63' password='63'/>
			<user name='participant_64' password='64'/>
			<user name='participant_65' password='65'/>
			<user name='participant_66' password='66'/>
			<user name='participant_67' password='67'/>
			<user name='participant_68' password='68'/>
			<user name='participant_69' password='69'/>
			<user name='participant_70' password='70'/>
			<user name='participant_71' password='71'/>
			<user name='participant_72' password='72'/>
			<user name='participant_73' password='73'/>
			<user name='participant_74' password='74'/>
			<user name='participant_75' password='75'/>
			<user name='participant_76' password='76'/>
			<user name='participant_77' password='77'/>
			<user name='participant_78' password='78'/>
			<user name='participant_79' password='79'/>
			<user name='participant_80' password='80'/>
			<user name='participant_81' password='81'/>
			<user name='participant_82' password='82'/>
			<user name='participant_83' password='83'/>
			<user name='participant_84' password='84'/>
			<user name='participant_85' password='85'/>
			<user name='participant_86' password='86'/>
			<user name='participant_87' password='87'/>
			<user name='participant_88' password='88'/>
			<user name='participant_89' password='89'/>
			<user name='participant_90' password='90'/>
			<user name='participant_91' password='91'/>
			<user name='participant_92' password='92'/>
			<user name='participant_93' password='93'/>
			<user name='participant_94' password='94'/>
			<user name='participant_95' password='95'/>
			<user name='participant_96' password='96'/>
			<user name='participant_97' password='97'/>
			<user name='participant_98' password='98'/>
			<user name='participant_99' password='99'/>
			<user name='participant_100' password='100'/>
 			


 			<stages>
 				<stage times="1" directory="java_check"/>
 		        	<stage times="100" directory="space_fortress"/>
 			</stages>
 		</group>
 		
 	</all_groups>
</study>
