{% extends 'base.html' %}
{% block content %}


<br><br>


<div id="supertabs">
    <ul>
        <li class="tablink on" id="tab1">
            Add some users
        </li>
        
        <li class="tablink" id="tab2">
            Summ Summ
        </li>
    </ul>
</div>


<div id="tab1box" class="tab">
    <br>
    dinguses with {{study_name}} and id {{study_id}}
    <br>
    
    <br>
    TODO: first just add a user with the supplied name to the study
    
    <br>
    TODO: add a check for existing username
    
    <br>
    TODO: add to an arbitrary stage
    
</div>


<div id="tab2box" class="tab" style="display:none">
    plapp plapp
</div>


{% endblock %}
