{% block user_table %}

<script language="JavaScript">
    
    
    $(document).ready(function(){
        
        $(':checkbox.selectall').on('click', function(){
            $(':checkbox[name=' + $(this).data('checkbox-name') + ']').prop("checked", $(this).prop("checked"));
        });
        // Individual checkboxes
        $(':checkbox.checkme').on('click', function(){ // 1
        
            var _this = $(this); // 2
            var _selectall = _this.prop("checked"); //3
        
            if ( _selectall ) { // 4
                // 5
                $( ':checkbox[name=' + _this.attr('name') + ']' ).each(function(i){
                    // 6
                    _selectall = $(this).prop("checked");
                    return _selectall; // 7
                });
            
            }
        
            // 8
            $(':checkbox[name=' + $(this).data('select-all') + ']').prop("checked", _selectall);
        });
    
    });


    function getUserFiles_{{study.id}}(){
        checkedBoxes = document.getElementsByName("downloadUserFiles_{{study.id}}");
        
        var fileUsers = new Array();
        
        for (var i in checkedBoxes) {
            if (checkedBoxes[i].checked == true && checkedBoxes[i].value !== undefined) {
                fileUsers.push(checkedBoxes[i].value);
            }
        }
        
        if (fileUsers.length === 0) { 
            alert("You have not selected any users! Please try again.");
        }
        else{
            
            var whichFiles = {};
            
            for (user in fileUsers) {
                whichFiles[fileUsers[user]] = { 'all' : 1 };
            }
            
            // from http://www.filamentgroup.com/lab/jquery_plugin_for_requesting_ajax_like_file_downloads/
            jQuery.download = function(url, data, method){
                //url and data options required
                if( url && data ){ 
                    //data can be string of parameters or array/object
                    data = typeof data == 'string' ? data : jQuery.param(data);
                    //split params into form inputs
                    var inputs = '';
                    jQuery.each(data.split('&'), function(){ 
                        var pair = this.split('=');
                        inputs+='<input type="hidden" name="'+ pair[0] +'" value="'+ pair[1] +'" />'; 
                    });
                    //send request
                    jQuery('<form action="'+ url +'" method="'+ (method||'post') +'">'+inputs+'</form>')
                    .appendTo('body').submit().remove();
                };
            };
            
            $.download("download_files/", whichFiles, 'post');
        }
    }


    function getUserData_{{study.id}}(){
        checkedBoxes = document.getElementsByName("downloadUserProgress_{{study.id}}");
        
        var progressUsers = new Array();
        
        for (var i in checkedBoxes) {
            if (checkedBoxes[i].checked == true && checkedBoxes[i].value !== undefined) {
                progressUsers.push(checkedBoxes[i].value);
            }
        }
        
        if (progressUsers.length === 0) { 
            alert("You have not selected any users! Please try again.");
        } else{
            var data = { progressUsers: progressUsers, study: "{{study.id}}" };
            $(function(){
                $("body").append('<iframe src="/investigator/get_data?'+ $.param(data) + '" style="display: none;" ></iframe>');
            });
        }   
    }

</script>


<div id="user_table_wrapper">
    <table>
        
        <!-- Button row -->
        <tr class"noFormat">
            <td class="noFormat">
                <input style="width:100%" type="button" onclick="window.location='/investigator/add_users/{{study.id}}'" value="Add Users"/>
            </td>
            
            <td class="noFormat" style="text-align:center">
                <input type="button" onclick="getUserData_{{study.id}}()" value="Get Progress"/>
            </td>
            
            <td class="noFormat" style="text-align:center">
                <input type="button" onclick="getUserFiles_{{study.id}}()" value="Get Files"/>
            </td>
            
            <td class="noFormat">&nbsp;</td>
            <td class="noFormat">&nbsp;</td>
            <td class="noFormat">&nbsp;</td>
        </tr>
        
        
        <!-- Header row -->
        <tr>

            <th scope ="col">user info</th>

            <th scope ="col" style="text-align:center">
                all: 
                <input type="checkbox" id="sa_downloadUserProgress_{{study.id}}" name="sa_downloadUserProgress_{{study.id}}" data-checkbox-name="downloadUserProgress_{{study.id}}" class="selectall" />
            </th>

            <th scope ="col" style="text-align:center">
                all: 
                <input type="checkbox" id="sa_downloadUserFiles_{{study.id}}" name="sa_downloadUserFiles_{{study.id}}" data-checkbox-name="downloadUserFiles_{{study.id}}" class="selectall" />
            </th>
            
            <th scope ="col">
                <a style="color:#6D929B;" href="/investigator/is_online">
                    online
                </a>
            </th> 
            <th scope ="col">
                <a style="color:#6D929B;" href="/investigator/is_late">
                    late
                </a>
            </th>
            

            <th scope ="col">progress</th>
        </tr>
    
        {% for user_data in users %}
            <tr>
                <th width="140px" scope="row" class={% cycle "spec" "specalt" %}>
                    <a style="color:#6D929B;" href="/investigator/view_user/{{ user_data.username }}">
                        {{ user_data.username }}
                    </a>
                </th>

                <td width="10px"> 
                    <div style="color:#6D929B; text-align: center">
                        <input type="checkbox" id="downloadUserProgress_{{study.id}}_{{forloop.counter}}" name="downloadUserProgress_{{study.id}}" value="{{ user_data.username }}" data-select-all="sa_downloadUserProgress_{{study.id}}" class="checkme" />
                    </div>
                </td>

                <td width="10px"> 
                    <div style="color:#6D929B; text-align: center">
                        <input type="checkbox" id="downloadUserFiles_{{study.id}}_{{forloop.counter}}" name="downloadUserFiles_{{study.id}}" value="{{ user_data.username }}" data-select-all="sa_downloadUserFiles_{{study.id}}" class="checkme" />
                        
                    </div>
                </td>
                
                <td width="22px"> 
                    {% if user_data.is_online %}
                        <img src="../../../media/img/online.gif" width="22" height="22" alt="Online">
                    {% else %}
                        <img src="../../../media/img/offline.gif" width="22" height="22" alt="Offline">
                    {% endif %}
                    
                </td>

                <td width="18px">
                    {% if user_data.is_late %}
                        <img src="../../../media/img/alert.gif" width="22" height="22" alt="Alert">
                    {% else %}
                        &nbsp;
                    {% endif %}
                        
                </td>


                
                <td> {% include 'progress_bar.html' %} </td>
            </tr>
        {% endfor %}

    
    </table>
</div> <!--user_table_wrapper-->


{% endblock %}