<script language="JavaScript">
	// function getFile(fileUser, fileName){
	// 	var data = { fileUser: fileUser, fileName: fileName };
	//     $(function(){
	//         $("body").append('<iframe src="/investigator/download_file?'+ $.param(data) + '" style="display: none;" ></iframe>');
	// 	});
	// }
</script>



<div id="study_details">
	
	<h2>
		<a href="" onclick="return toggle_detail('user_files',$(this));" class="right">
			{{username}}'s files
		</a>
	</h2>
	
	<div id='user_files' style="display:none;">
		{% ifequal user_files|length 0 %}
			{{ username }} does not have any files.
		{% else %}
	
		
			{% for currentFile in user_files %}
		
					<div>
						<!-- <button type="button" onclick="getFile('{{username}}', '{{currentFile}}');">
							{{currentFile}}
						</button> -->
						<a style="color:#6D929B;" href="../download_file?fileUser={{username}}&fileName={{currentFile}}">
							{{currentFile}}
						</a>
						
					</div>

			{% endfor %}
		
		{% endifequal %}
	
	</div>

	
	
	{% ifequal user_data|length 0 %}
		{{ username }} has not completed any stages in any studies.
	{% else %}
		
		{% for study, data_list in user_data.items %}
			<h2>
				<a href="" onclick="return toggle_detail('d{{forloop.counter}}',$(this));" class="right">
					Overview of {{username}}'s data for: <u>{{study}}</u>
				</a>
			</h2>
			<div id="d{{forloop.counter}}" style="display:none;">	
				
				{% ifequal data_list|length 0 %}
					{{ username }} has not completed any stages in this study.
				{% else %}
				
				
					{% for entry in data_list %}
						<div style="border:solid; border-width:1px; padding:5px 5px 5px 5px; margin:0 0 5px 0;">
							{{ entry.timestamp}} <br>
							<div style="margin:0 0 0 25px;">
								<pre>{{ entry.data }}</pre>
							</div>
						</div>
					{% endfor %}
					
				{% endifequal %}
				
			</div>	
		{% endfor %}
		
	{% endifequal %}
	    
	</div>
</div>