{% block user_table %}

<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('downloadUserData');
  for(var i in checkboxes)
    checkboxes[i].checked = source.checked;
}
</script>

<div id="user_table_wrapper">
    <table>

		
        <!-- Button row -->
		<tr class"noFormat">
			<td class="noFormat">&nbsp;</td>

			<td class="noFormat" style="text-align:center">
				<button>Download</button>
			</td>
			
			<td class="noFormat">&nbsp;</td>
			<td class="noFormat">&nbsp;</td>
			<td class="noFormat">&nbsp;</td>
			<td class="noFormat">&nbsp;</td>
		</tr>
		
		
        <!-- Header row -->
        <tr>
            <th scope ="col" class="nobg">&nbsp;</th>

            <th scope ="col" style="text-align:center">
				get data?
				</br>
				all: <input type="checkbox" onClick="toggle(this)"/>
			</th>
			
            <th scope ="col">
                <a style="color:#6D929B;" href="/investigator/is_online">
                    online
                </a>
            </th> 
            <th scope ="col">
                <a style="color:#6D929B;" href="/investigator/is_late">
                    late
                </a>
            </th>
            <th scope ="col">user info</th>

            <th scope ="col">progress</th>
        </tr>
    
        {% for user_data in users %}
            <tr>
                <th width="140px" scope="row" class={% cycle "spec" "specalt" %}> {{ user_data.username }} </th>


                <td width="10px"> 
                    <div style="color:#6D929B; text-align: center">
                        <input type="checkbox" name="downloadUserData" value="{{user_data.username}}"/>
                    </div>
                </td>
                
                <td width="22px"> 
                    {% if user_data.is_online %}
                        <img src="../../../media/img/online.gif" width="22" height="22" alt="Online">
                    {% else %}
                        <img src="../../../media/img/offline.gif" width="22" height="22" alt="Offline">
                    {% endif %}
                    
                </td>

				<td width="18px">
                    {% if user_data.is_late %}
                        <img src="../../../media/img/alert.gif" width="22" height="22" alt="Alert">
                    {% else %}
                        &nbsp;
                    {% endif %}
                        
                </td>

                <td width="150px"> 
                    <a style="color:#6D929B;" href="/investigator/view_user/{{ user_data.username }}">
                        link to user page
                    </a>
                </td>
                
                <td> {% include 'progress_bar.html' %} </td>
            </tr>
        {% endfor %}

		
        <!-- Select all row -->
		<!--
		<tr class"noFormat">
			<td class="noFormat">&nbsp;</td>

			<td class="noFormat" style="text-align:center">
				<input type="checkbox" onClick="toggle(this)"><br/>Select All</input>
			</td>
			
			<td class="noFormat">&nbsp;</td>
			<td class="noFormat">&nbsp;</td>
			<td class="noFormat">&nbsp;</td>
			<td class="noFormat">&nbsp;</td>
		</tr>
		-->
    
    </table>
</div> <!--user_table_wrapper-->


{% endblock %}